:root {
  font-size: 10px;
  --primaryColor: #7209b7;
  --primaryFont: 'cairo', sans serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primaryFont);
}
body {
  direction: rtl;
}
.header {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.2rem 0;
}
.header h1 {
  font-size: 3.5rem;
}
.nav {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3.2rem;
}
.menu {
  display: none;
}
.quran {
  padding: 1rem 0.5rem;
  color: var(--primaryColor);
  border-bottom: 2px solid var(--primaryColor);
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
.quran:hover {
  cursor: pointer;
}
.nav h3 {
  padding: 1rem 0.5rem;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
.nav h3:hover {
  cursor: pointer;
}
.choices {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  margin-top: 4rem;
}
.choices select {
  width: 30rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 7px;
  outline: transparent;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  font-size: 1.7rem;
  font-weight: 700;
  position: relative;
  appearance: none;
}
.audio {
  margin-top: 7rem;
}
.audio audio {
  outline: transparent;
  width: 35vw;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
select:hover {
  cursor: pointer;
}
#cd {
  width: 35rem;
  height: 35rem;
  margin: 2rem auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
}

 /* Mobile version */

 @media (max-width: 1024px) {
  :root {
    font-size: 7px;
    --primaryColor: #7209b7;
    --primaryFont: 'cairo', sans serif;
  }
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--primaryFont);
  }
  body {
    overflow-x: hidden;
  }
  .header h1 {
    font-size: 5rem;
  }
  .nav {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 7rem;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    padding: 1.4rem;
    font-size: 1.6rem;
    background: #fff;
  }
  .menu > li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .menu a {
      color: black;
      font-size: 2rem;
      font-weight: 500;
      opacity: 0.6;
      outline: none;
  }
  .menu > li img {
      width: 5rem;
  }
  .audio audio {
    width: 95vw;
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  #cd {
    margin: 10% auto;
    width: 60vw;
    height: 60vw;
  }
  .choices select {
    padding: 1.5rem;
  }
  .choices {
    padding: 0 5vw;
  }
  .menu .active {
    color: var(--primaryColor);
    font-weight: 700;
    font-size: 2rem;
    opacity: 1;
  }
}
